<h1>Welcome to BeautyTube</h1>

<h3>What will you beautify today?</h3>

<p>
	<h5>Hair</h5>
  <%= link_to "Braids", videos_path() %>
  <%= link_to "Coloring" %>
</p>
<p>
  <h5>Makeup</h5>
  <%= link_to "Eyes" %>
  <%= link_to "Lips" %>
</p>