<div class= "container-fluid" id="category-container">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active" id="category"></li>
    </ol>
  </div>
  <div class= "row">
    <div class="col-sm-7 col-sm-offset-1">
      <h4>Video title:</h4>
      <p><%= @video_title %></p>
<!--       <p><%= @results %></p> -->
    </div>
  </div>
  <div class= "row">
    <div class="col-sm-7 col-sm-offset-1">
      <iframe id="ytplayer" type="text/html" width="640" height="390"
      src=<%= "#{@url}" %> frameborder="0" allowfullscreen>
      </iframe>
    </div>
    <div class="col-sm-2 col-sm-offset-1 next-screen img">
      <a href="javascript:location.reload(true);"><img src="/assets/threenails.png">Next video </a>
    </div>
  </div>
</div>