<div class= "row">
  <div class="col-sm-8">
    <h4>The query params:
      <%= @query %>
    </h4>
  </div>
</div>
<div class= "row">
  <div class="col-sm-8">
    <h4>Video title:
      <%= @video_title %>
    </h4>
  </div>
</div>
<div class= "row">
  <div class="col-sm-4">
    <iframe id="ytplayer" type="text/html"
    src=<%= "#{@url}" %> frameborder="0" allowfullscreen>
  </div>
  <div class="col-sm-4 col-sm-offset-1">
    <h4>Video description:
    </h4>
  </div>
</div>