/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

@font-face {
  font-family: "alex-brush";
  src: url(font_path("/assets/alex-brush/AlexBrush-Regular.ttf")) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dancing";
  src: url(font_path("/assets/dancing-script-ot/DancingScript-Regular.otf")) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "od";
  src: url(font_path("/assets/odstemplik/odstemplikBold.otf")) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "champ";
  src: url(font_path("/assets/champagne_limousines/Champagne & Limousines.ttf")) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "afta";
  src: url(font_path("/assets/afta-serif/AftaSerifThin-Regular.otf")) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "andada";
  src: url(font_path("/assets/andada/Andada-Regular.otf")) format("truetype");
  font-weight: normal;
  font-style: normal;
}
