// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

body {
	/*background-color: #FFC6C6;*/
	/*background-color: #F08080;*/
	/*background-color: #80CEF0;*/
	/*background-color: #6495ED; */
}

h1 {
	color: #7979FF;
}

.box {
	max-width: 1000px;
	border: 3px solid #FF7979;
	background-color: #FFC6C6;
	/*border-radius: 200px;*/
/*	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3)*/
}

h3 {
	font-family: "allura";
}

h5 {
	/*color: #79D7FF;*/
}
