// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

body {
/*	background: #c5ffff;*/
	background: #8e0e3e;
	/*background-color: #FFC6C6;*/
	/*background-color: #F08080;*/
	/*background-color: #80CEF0;*/
	/*background-color: #6495ED; */
	font-family: "coquette", "champ";
}

h1 {
	color: #7979FF;
}

.header {
	border-bottom: 3px solid #cc1559;
}

.hero {
  background-image: url("lipsthree.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 33%;
  height: 283px;
}

h3 {
	font-weight: 550;
	text-transform: lowercase;
	font-size: 68px;
	margin-left: 60px;
	color: #ffbedd;
}

.box {
	max-width: 1000px;
	height: 300px;
	border: 3px solid #cc1559;
	background-color: #ffbedd;
	/*#FF7979;
	#FFC6C6; */
	border-radius: 10px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3)
}

ul {
	font-size: 48px;
	color: #585858;
	text-transform: lowercase;
	margin-left: 60px;
}

.category-choices {
	display: none;
}

li {
	float: left;
	display: block;
	padding-left: 70px;
	font-size: 24px;
}